/* default image */
img {
  width: 50%;
  height: auto;
  margin-left: 25%;
  margin-right:auto;
  text-align: center;
}
.cover-image {
  width: 100%;
  margin: 0;
  padding: 0.5em;
}
@media only screen and (min-width: 600px){
  .ui-page {
    width: 600px !important;
    margin: 0 auto !important;
    position: relative !important;
    border-right: 5px #666 outset !important;
    border-left: 5px #666 outset !important;
  }
}
